.header{
    width:85%;
    margin: auto;
}
.color-txt{
    color:#E95A08;
}
.plants{
    width:85%;
    margin:auto;
}

button{
    background-color:#E95A08;
    padding:4px 30%;
    color: #ffffff;
    font-weight: 400;
}

.plants-lover{
    width:80%;
    margin:auto;
}

.store{
    width:700px;
    height:400px;
}

